.container
{
    position: relative;
}

.headline
{

    text-align: center;
    font-family:Roboto slab, serif;
    font-weight: 800;
    font-size: 8vw;
    color: white;
    text-shadow: black 0.5vw 0.5vw;
    -webkit-text-stroke-width: 0.2vw;
    -webkit-text-stroke-color: black;
    text-transform: uppercase;
    margin-top: 1vw;
    margin-left: 12vw;
    padding: 4vw;
    background: red;
    line-height: 0.3vw;
    height: 1vw;
    outline: white 0.4vw solid;
    word-spacing: 16vw;
    position: absolute;

}

.symbol
{
    z-index: 0;
    margin-left: 43vw;
    padding: 6vw;
    transform: skew(-17deg);
    background: black;
    position: absolute;
}

.logo
{
    position: relative;
    text-align: center;
    margin-right: 2vw;
}